.nav-buy-btn {
  padding: 1px 18px !important;
  margin: 12px;
}
.navbar-brand {
  font-weight: bold;
  margin-left: 20px !important;
  margin-right: 20px !important;
  font-size: 30px !important;
}
.airdrop_icon a {
  border: 1px #64a3a6 solid;
  color: #64a3a6!important;
  border-radius: 20px;
  line-height: 21px!important;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 10px;
  height: 24px!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}
@media screen and (max-width: 600px) {
  .airdrop_icon a {
    margin-top: 0px;
  }
}
.airdrop_icon a:hover {
  text-decoration: underline!important;
}
.nav-logo {
  height: 39px;
  margin-top: -9px;
}
.navbar-default {
  border: none;
}
nav {
  background: #000000;
}
.navbar-nav a {
  color: white;
}
ul li {
  cursor: pointer;
}
